.plain-text-font, .plain-text, .quote-plain-text {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
}

#navbarNav .nav-menu-text {
  font-size: 0.9rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

#navbarNav .nav-menu-text:hover {
  color: #dc3545;
}

#navbarNav .pink-btn {
  padding: 0.3rem 1rem;
  margin-right: 3.2rem;
  margin-bottom: 0.3rem;
}

.main-img-box {
  position: relative;
  margin-top: 5.2rem;
  width: 100%;
}

.form-on-main {
  background-color: white;
  height: 485px;
  width: 460px;
  position: absolute;
  top: 4.7rem;
  right: 5.7rem;
}

.form-on-main .form-midashi {
  height: 160px;
  padding-top: 30px;
  background-color: green;
}

.form-on-main .form-midashi h2 {
  width: 400px;
  margin: auto;
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 700;
}

.form-on-main .form-inside-box {
  position: relative;
  background-color: orange;
  padding: 15px 30px;
  height: 325px;
  margin: auto;
}

.form-on-main .form-inside-box p {
  margin-bottom: 0.5rem;
}

.form-on-main .form-inside-box .form-inputs {
  background-color: pink;
}

.form-on-main .form-inside-box .form-inputs .form-padding {
  height: 48px;
  margin-bottom: 8px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form-on-main .form-inside-box .form-inputs .flexed-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-on-main .form-inside-box .form-inputs .flexed-box .typeselect1 {
  width: 56%;
  position: relative;
}

.form-on-main .form-inside-box .form-inputs .flexed-box .typeselect1 div {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 10px;
  right: 18px;
}

.form-on-main .form-inside-box .form-inputs .flexed-box .numofpeople1 {
  width: 40%;
  position: relative;
}

.form-on-main .form-inside-box .form-inputs .flexed-box .numofpeople1 div {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 10px;
  right: 18px;
}

.form-on-main .form-inside-box .yen-text {
  font-size: 38px;
  margin-right: 6px;
  line-height: 1.15;
}

.form-on-main .form-inside-box .pink-big-btn {
  width: 100%;
  height: 50px;
}

.main-section-title {
  font-size: 3.6rem;
  font-weight: 600;
  text-align: center;
}

.section-titles {
  font-size: 1.5rem;
  font-weight: 400;
}

.plain-text {
  line-height: 1.8;
}

.small-hr {
  margin-top: 6rem;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.5);
  width: 65px;
  margin-bottom: 1.3rem;
}

.content-wrapper-big-box {
  position: relative;
  background-color: pink;
  width: 100%;
  margin: -8.5rem auto;
  padding-top: 3.8rem;
}

.content-wrapper-big-box .content-wrapper-inside-box {
  width: 1040px;
  background-color: white;
  margin: auto;
}

.main-reasons-box {
  width: 975px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-reasons-box div {
  padding-left: 0.3rem;
  width: 450px;
  background-color: red;
}

.three-contents-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.three-contents-box .one-third-box {
  width: 33.33333333333333%;
  background-color: green;
}

.three-contents-box .one-third-box .icon-check {
  font-size: 3rem;
  margin-top: 2.6rem;
  margin-bottom: 5px;
  font-weight: 100;
}

.quote-text {
  font-size: 2rem;
  line-height: 1.25;
}

.quote-content-margin {
  margin-top: 160px;
}

.quote-plain-text {
  line-height: 1.5;
}

.two-contents-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.two-contents-box .half-box {
  width: 50%;
}

.two-contents-box .half-box i {
  font-size: 40px;
  color: orange;
}

.two-contents-box .half-box-text1 {
  width: 41%;
}

.two-contents-box .half-box-text1 button {
  border-width: 2px;
  padding: 10px 22px;
}
/*# sourceMappingURL=main.css.map */