

$danger: #dc3545;

.plain-text-font{
    font-size: 1rem;
    color: rgba(0,0,0,.5);
}


.hr-line{
    border-bottom: 1.5px solid rgba(0,0,0,.5);
    width: 65px;
}

// nav bar

#navbarNav{


    .nav-menu-text{
        font-size: 0.9rem;  
        margin-left: 0.5rem;
        margin-top: 0.5rem;
        margin-right: 0.5rem;

        &:hover{
            color: $danger;
        }

    }


    .pink-btn{
        padding: 0.3rem 1rem;
        margin-right: 3.2rem;
        margin-bottom: 0.3rem;
    }


}

// ここからmain contents

.main-img-box{
    position: relative;
    margin-top: 5.2rem;
    width: 100%;
}


//フォーム部分



.form-on-main{
    background-color: white;
    height: 485px;
    width: 460px;
    position: absolute;
    top: 4.7rem;
    right: 5.7rem;

    .form-midashi{
        height: 160px;
        padding-top: 30px;
        background-color: green;

        h2{
            width: 400px;
            margin: auto;
            font-size: 2.5rem;
            line-height: 1;
            font-weight: 700;
    
        }
    }

    .form-inside-box{
        position: relative;
        background-color: orange;
        padding: 15px 30px;
        height: 325px;
        margin: auto;

        

        p{
            margin-bottom: 0.5rem;
        }

        

        .form-inputs{
            background-color: pink;

            .form-padding{
                height: 48px;
                margin-bottom: 8px;
                appearance: none;
            }


            .flexed-box{
                display: flex;
                justify-content: space-between;

                .typeselect1{
                    width: 56%;
                    position: relative;

                    div{
                        width: 15px;
                        height: 15px;
                        position: absolute;
                        top: 10px;
                        right: 18px;
                    }
                  
                }

                .numofpeople1{
                    width: 40%;
                    position: relative;

                    div{
                        width: 15px;
                        height: 15px;
                        position: absolute;
                        top: 10px;
                        right: 18px;
                    }
        
                }
            }
        }
        
        .yen-text{
            font-size: 38px;
            margin-right: 6px;
            line-height: 1.15;
        }

        .pink-big-btn{
            width: 100%;
            height: 50px;
        }

    }

}



// ここから画像以下のメインコンテンツ


.main-section-title{
    font-size: 3.6rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 3.1rem;
}

.section-titles{
    font-size: 1.5rem;
    font-weight: 400;
}

.plain-text{
    line-height: 1.8;
    @extend .plain-text-font;
}

.small-hr{
    margin-top: 6rem;
    margin-bottom: 1.3rem;
    @extend .hr-line;
}

// 大枠
.content-wrapper-big-box{
    position: relative;
    background-color: pink;
    width: 100%;
    margin: -8.5rem auto;
    padding-top: 3.8rem;

    // 大枠の中のワク
    .content-wrapper-inside-box{

        width: 1040px;
        background-color: white;
        margin: auto;

    }

}



 // ここから最初の二つの理由 
 .main-reasons-box{
    width: 975px;
    display: flex;
    justify-content: space-between;

    div{

        padding-left: 0.3rem;
        width: 450px;
        background-color: red;
    }
}


// ここから3ステップでホスティング部分

.three-contents-box{
    display: flex;
    justify-content: space-between;

    .one-third-box{
        width: 33.33333333333333%;
        background-color: green;

        .icon-check{
            font-size: 3rem;
            // margin-top: 2.6rem;
            margin-bottom: 5px;
            font-weight: 100;
        }
    }

   
}

// ここから2 contents box "the reason why Dennis chose to be a host"

.quote-text{
    font-size: 2rem;
    line-height: 1.25;
}

.quote-content-margin{
    margin-top: 160px;
}

.quote-plain-text{
    @extend .plain-text-font;
    line-height: 1.5;
}

.two-contents-box{
    display: flex;
    justify-content: space-between;

    .half-box{
        width: 50%;
        
        i{
            font-size: 40px;
            color: orange;
        }
    }

    .half-box-text1{
        width: 41%;

        button{
            border-width: 2px;
            padding: 10px 22px;
        }
    }

}

// ここから万が一のときも安心です PART

.small-hr-2{
    margin-top: 9.6rem;
    margin-bottom: 1.3rem;
    @extend .hr-line;
}


.checkmark{
    width: 20px;
    height: 20px;
    font-size: 20px;
}

.img-top-margin{
    margin-top: 6rem;
}


// ここからシンプルな決済

.small-hr-3{
    margin-top: 9.7rem;
    margin-bottom: 1.3rem;
    @extend .hr-line;
}

.half-box-text2{
    margin-right: 0.7rem;
    margin-top: 4.1rem;
    @extend .half-box-text1;
}


// ここから夢を共有する仲間が世界中に

.small-hr-4{
    margin-top: 6rem;
    margin-bottom: 1.3rem;
    @extend .hr-line;
}

.num-text-data{
    font-size: 3.5rem;
    margin-bottom: 0.8rem;
}


// ここからAirbnbについて

.small-hr-5{
    margin-top: 10.5rem;
    margin-bottom: 1.2rem;
    @extend .hr-line;
}

